* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}


#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;

    /* width: 1200px;
    margin: 0 auto;
    
    padding-bottom: 30px; */

}

.Header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: white;
    width: 100%;
    height: 51px;

}

.menu>ul {
    width: 450px;
    height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-size: 17px;

    list-style: none;
}

.menu>ul>li a{
    color: white;
    text-decoration: none;
    
    padding-bottom: 5px;

}
.menu>ul>li a:hover{
    transition: 0.1s;
    border-bottom: 2px solid white;
    
}

.slider {
    width: 100%;
    height: 650px;
    display: flex;
    background-color: white;

}
.join>button{
    width: 100px;
    height: 35px;
    border-radius: 5px;
    font-size: 17px;
    background-color: #FFC700;

}

.byt,
.bytt {
    transition: .4s;
    position: absolute;
    top: 50%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #ffffffe6;
    display: flex;
    align-items: center;
    justify-content: center;

}

.byt {
    left: 1%;
}

.bytt {
    left: 95%;
}

.byt:hover,
.bytt:hover {
    box-shadow: 5px 10px 19px #888888
}

.sld {
    width: 100%;
    background-color: #FFC700;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tx {
    width: 462px;
    /* height: 287px; */
    display: flex;
    flex-direction: column;


}

.tx>h2 {
    font-size: 50px;
    margin-bottom: 25px;
    text-align: justify;
}

.tx>p {
    text-align: justify;
    font-size: 24px;
}

.tx>button>a {
    color: #ffffff;
    text-decoration: none;
    padding: 20%;
}

.tx>button {
    width: 216px;
    height: 52px;
    border: none;
    background-color: black;
    margin-top: 10px;
    transition: .8s;

}

.tx>button:hover {
    border-radius: 30px;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.con {

    /* width: 80%; */
    width: 1440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;

}

.boy,
.booy {
    position: relative;
    width: 482px;
    height: 267px;
    background-color: black;
    margin-bottom: 80px;
    color: #ffffff;
    transition: 1s;
    bottom: 0px;
    
}
.boy:hover,
.booy:hover{
    
    bottom: 20px;
}


.booy>h3 {
    font-size: 34px;
    margin-top: 40px;
    margin-left: 50px;
    padding-top: 20px;
}

.booy>p {
    font-size: 15px;
    margin-top: 20px;
    margin-left: 50px;
    line-height: 24px;
    width: 363px;
}


.boy>h3 {
    font-size: 34px;
    margin-left: 94px;
    padding-top: 20px;
}

.boy>p {
    margin-left: 94px;
    line-height: 24px;
    font-size: 15px;
    margin-top: 20px;
}

.boy>span {
    position: absolute;
    content: '';
    width: 122px;
    height: 122px;
    background-color: #FFC700;
    border-radius: 50%;
    top: 40px;
    left: -61px;
    display: flex;
    align-items: center;
    justify-content: center;

}


/* .boy::after {
    position: absolute;
    content: '';
    width: 122px;
    height: 122px;
    background-color: #FFC700;
    border-radius: 50%;
    top: 40px;
    left: -61px;
} */

.booy>span {
    position: absolute;
    content: '';
    width: 122px;
    height: 122px;
    background-color: #FFC700;
    border-radius: 50%;
    top: 40px;
    right: -61px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .booy::after {
    position: absolute;
    content: '';
    width: 122px;
    height: 122px;
    background-color: #FFC700;
    border-radius: 50%;
    top: 40px;
    right: -61px;
} */

.boty {

    text-align: right;
    font-size: 28px;
    width: 475px;
    height: 112px;
}

.boty>h2 {
    padding-left: 25px;
    font-size: 48px;
}

.boty>h2>span {
    color: #FFC700;
}

.bya {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
}

.bya::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: #979797ba;
    border-radius: 50%;
    top: 0px;
    left: -250px;


}

.bya::before {
    content: '';
    position: absolute;
    width: 370px;
    height: 500px;
    background-color: #FFC700;
    top: 564px;
    right: 0;



}

.bytx {
    width: 475px;
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.bytx>h2 {
    margin-bottom: 80px;
    font-size: 48px;
}

.bytx>h2>span {
    color: #FFC700;
}

/* .bytx>h2>span{
    border-bottom: 5px solid #FFC700;
    padding-bottom: 40px;
    
} */
.bytx>h4 {
    margin-bottom: 30px;
    line-height: 51px;
    font-size: 34px;
}

.bytx>p {
    font-size: 15px;
    line-height: 24px;
}

.bytx>img {
    position: relative;
    top: 190px;
    left: 123px;

}



.byimg {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 134px;
    margin-bottom: 210px;
}

.byimg>img {
    margin-bottom: 27px;
}

.vid {
    width: 100%;
    height: 410px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}

.vid::after {
    content: '';
    position: absolute;
    width: 370px;
    height: 255px;
    background-color: #979797ba;
    top: 0;
    left: 0;
}

.vidtx {
    width: 448px;
    height: 311px;
}

.vidtx>h3 {
    font-size: 39px;
    line-height: 51px;
}

.vidtx>h3>span {
    color: #FFC700;
}

.vidtx>ul>li {
    font-size: 15px;
    line-height: 34px;
    list-style-type: none;
    /* font-weight: bold; */
}

.vidtx>button {
    width: 160px;
    height: 42px;
    background-color: black;
    color: #ffffff;
    border: none;
}

.vidimg {
    z-index: 100;
}

.mill {
    width: 100%;
    height: 390px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.my {
    width: 360px;
    height: 360px;
    background-color: black;
    border: none;
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.my>h2 {
    color: #FFC700;
    font-size: 80px;
}

.my>h3 {
    font-size: 24px;
    color: #ffffff;
}

.my:nth-child(2) {
    color: #ffffff;
    background-color: #FFC600;
    width: 390px;
    height: 390px;
}

.my:nth-child(2)>h2 {
    color: #ffffff;
}

/* ********************************** */
.blg {
    display: flex;
    justify-content: space-evenly;
}

.bglf {
    text-align: left;
    width: 100%;
    font-size: 48px;
    margin: 69px 40px;
}

.bglf>span {
    color: #FFC600;
}

.pst {
    width: 638px;
    height: 733px;
}

.rdm {
    text-align: right;
    color: #FFC600;
}

.pst>h5 {
    margin: 28px 0;
    font-size: 12px;
}

.pst>h2 {
    font-size: 34px;
    line-height: 51px;
    color: #222A41;
}

.pst>p {
    margin: 28px 0;
    line-height: 24px;
    font-size: 16px;
}

.psst {
    width: 448px;
    height: 163px;
    display: flex;
    margin-bottom: 27px;
}

.psst>img {
    margin-right: 27px;
}

.pstx>h5 {
    font-size: 12px;
    margin-bottom: 20px;
}

.pstx>h4 {
    font-size: 24px;
    line-height: 32px;

}

.sectionIII {
    width: 100%;
    height: 600px;
    margin: 30px 0;

    display: flex;


}

.fatx {
    width: 590px;

}

.fatx>h4 {
    font-size: 28px;
    line-height: 36px;
    margin-top: 171px;
}

.fatx>h5 {
    font-size: 13px;
    margin-top: 20px;
}

.fatx>a>img {
    margin-top: 20px;
    margin-right: 20px;
}

.fatx>p:first-of-type {
    margin-top: 84px;
    font-size: 15px;
    line-height: 24px;
}

.faimg {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: end;
    position: relative;

}

.faimg>span,
.faimg>h2 {
    font-size: 48px;
    font-weight: bold;
}

.faimg>h2>span {
    color: #FFC600;
}

.ffimg {
    position: absolute;
    bottom: 0;
}

.ffimg>img {
    margin-left: 27px;
}

.faimg>h2 {
    text-align: right;
    font-size: 48px;
    line-height: 56px;
    margin-left: 20px;

}

.sectionII {
    width: 100%;
    height: auto;

}

.slld {
    height: 394px;
    background-color: #FFC700;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.slld::after {
    content: '“';
    position: absolute;
    font-size: 90px;
    top: 50px;
}

.btrth {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btlft {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sslld {
    width: 542px;
}

.sslld>p {
    font-size: 15px;
    line-height: 24px;
}

.sslld>h5 {
    margin: 20px 0;
    font-size: 13px;
    font-weight: bold;

}

.sectionI {
    width: 100%;

}

.logos {
    width: 100%;
    height: auto;
    margin: 10px auto;
    display: flex;
    justify-content: space-evenly;
}

.frm {
    width: 100%;
    height: auto;
    background-color: #F2F2F2;
    position: relative;
    display: flex;
    justify-content: end;

}

.frm::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 154px;
    height: 208px;
    background-color: #FFC700;
}

.imi {
    width: 449px;
    height: 632px;
    background-image: url("File/Img/bakc.png");
    background-size: cover;
    z-index: 100;
    margin-top: 65px;
    color: #ffffff;
}

.imi>h2 {
    font-size: 48px;
    line-height: 56px;
    margin-top: 100px;
    margin-left: 50px;
}

.imi>p {
    margin-top: 26px;
    margin-left: 50px;
    font-size: 15px;
    line-height: 24px;
}

.mim {
    width: 665px;
    height: 632px;
    margin-top: 65px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.ffrm {
    width: 537px;
    height: 424px;
    position: relative;
}

.ffrm>input {
    width: 100%;
    height: 20px;
    background-color: rgba(253, 245, 230, 0);
    color: black;
    border: none;
    border-bottom: 3px solid #FFC700;
    padding: 10px;
}

.ffrm>input:nth-child(1) {
    margin-top: 10px;
}

.ffrm>input:nth-child(2) {
    margin-top: 57px;
}

.ffrm>input:nth-child(3) {
    margin-top: 47px;
    padding-bottom: 150px;
}

.ffrm>button {
    width: 154px;
    height: 42px;
    background-color: #FFC700;
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
}

.footer {
    width: 100%;
    height: 400px;
    background-color: black;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faa {
    width: 80%;
    height: 203px;

    display: flex;
}

.fft {
    width: 300px;
}

.fft>h2 {
    margin-bottom: 10px;
    font-size: 16px;
}

.fft>ul>li {
    list-style-type: none;
    margin-bottom: 15px;
    font-size: 15px;
}

.fft>p {
    margin: 10px 0;
}

.fft>h4 {
    margin-bottom: 14px;
}